@charset "utf-8";

*{
    margin:0;
    padding:0;
}

html{
    font-family: '나눔 고딕', 'NanumGothic', '돋움', 'Dotum', sans-serif;
}

html, body{
    width:100%; 
    height:100%;
}

header{
    background-color:#000;
    width:100%;
    height:120px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}



h1 {
    margin:0 auto; 
    width:1080px;
    color:#fff;
    font-weight:bold;
    text-indent:40px;
    font-size:40px;
} 

a {
    text-decoration: none;
}


.Parent_block{
    width:1080px;
    margin:0  auto;
    text-align:center;
}


.list_block{
    display:inline-block;
    list-style:none;
    margin-top:40px;
    margin-bottom:30px;
    border: 1px solid #d1d1d1;
    width: 300px;
    height: 33px;
    line-height:32px;    
}

a{
    text-align: center;
}

a:visited{
    color:black;
    text-decoration: none;
    
}

a:link{
    color:black;
    text-decoration: none;

}

li:hover{
    font-weight:bold;
    border-color: #454545;

}
.left{
    margin-left:40px;
}


.center{
    margin-left:14px;
    
}

.right{
    margin-left:14px;
    margin-right:40px;
} 




.All_box{
    width:1080px;
    margin:0 auto;
    justify-content: center;

}



h2{
    
    font-size:20px;
    font-weight:bold;
    color:#000;
    width:1000px;
    margin: 0 auto;
    border-bottom:1px solid #454545;
    padding: 30px 0;
}




h3{
    margin:0 auto;
    background-color: #f7f7f7;
    border: 1px solid #d1d1d1;
    
    padding:15px;
    font-size:16px;
    font-weight: bold;
    color:#333;
}


.article{
    margin:0 auto;
    border:1px solid #d1d1d1;
}


article{
    padding:30px;
    margin:30px;
    height:100px;
    text-align:center;
    flex-direction: column;
    vertical-align: middle;
    
}
section{
    margin:30px auto;
    
    height:46px;
    width:1000px;
}

.inline{
    display:inline;
    text-align: center;
}


.last_container{
    border-top:1px solid black;

    
    margin:0 auto;
    padding-bottom: 30px;
    justify-content:center;
    text-align:center;
}

address{
    font-style:normal;
    text-decoration:none;
    font-size: 12px;
    color:#999;
    padding: 10px;
}

p{
    font-size:12px;
    color:#000;

}